<%= stylesheet_link_tag 'tickets' %>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Tickets Available</title>
</head>

<body>
  <div class="container mt-4">
    <h1>Tickets Available</h1>
      <div class="row">
        <% @tickets.each do |ticket| %>
          <div class="col-md-12" >
            <%= link_to ticket do%>
              <h5><%=ticket.request_number%></h5>
              <p>Company Name:  <%=ticket.excavator&.company_name%></p>
              <p>Request Type:  <%=ticket.request_type%>
              <p>Sequence Number: <%=ticket.sequence_number %></p>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
